.basketOrder {
  border: 1px solid #0000001a;
  border-radius: 20px;
  padding: 20px 24px;

  ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;

      span {
        font-weight: 400;
        color: #00000099;
      }

      &:nth-child(2) {
        color: #ff3333;
      }
    }

    .promocode {
      span {
        color: crimson;
        font-weight: 900;
      }
    }

    .total {
      border-top: 1px solid #00000099;
      padding-top: 20px;
      margin-top: 20px;
      color: black;
      font-weight: 700;
      font-size: 24px;

      span {
        color: black;
      }
    }
  }

  form {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;

    .btnBlack:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .inp {
      width: 70%;
      input {
        width: 100%;
        font-size: 16px;
        line-height: 100%;
        font-weight: 400;
        background-color: #f8f8f8;
        color: #00000099;
        outline: none;
        border: none;
        padding: 15px 52px;
        border-radius: 62px;
      }
    }
  }

  button:not(form button) {
    width: 100%;
  }
}
