.commentItem {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 28px 32px;
    margin: 0px 15px;

    .topComments {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .removeComments {
            border: none;
            background-color: transparent;
            color: crimson;
            cursor: pointer;
            font-size: 24px;
        }
    }


    h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        margin-top: 15px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        gap: 6px;

        svg {
            color: green;
        }
    }

    p:not(p.date) {
        font-size: 16px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.6);
        line-height: 22px;
    }

    p.date {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 25px;
    }

}


@media(max-width:1199px) {
    .commentItem {

        h3 {
font-size: 16px;
line-height: 18px;
        }
        p:not(p.date){
            font-size: 14px;
            line-height: 20px;
        }
        p.date{
            font-size: 14px;
            line-height: 20px;
        }

    }
}